<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        input{
            width: 30%;
            box-sizing: border-box;
            margin: 0 0;
            padding: 15px 20px;
            border-radius:15px;
        }
    </style>
</head>
<body>
<div style="background-color: #888888;
        padding: 30px 0;
        padding-bottom: 100%;
        padding-top: 150px;
        color: white;" align="center">
    <form th:action="@{/user/add-profile-picture}" th:object="${user}" method="post" enctype="multipart/form-data">
        <h2><p>Plaese choose image: </p></h2>
        <div align="center">
            <button style="border-radius:15px; width: 30%; background-color: darkgrey;">
                <input type="hidden" id="id" name="id" th:field="${user.email}">
                <input type="file" id="image" name="image">
            </button>
        </div>
        <div>
            <button type="submit" style="background-color: darkcyan;
          border-radius:15px;
          text-decoration: none;
          width:30%;
          padding: 15px 20px;
          margin: 8px 20px;
          box-sizing: border-box;" align="center" >Upload</button>
        </div>
    </form>
</div>
</body>
</html>